* {
	font-family: 'Abel', sans-serif;
	padding: 0;
	margin: 0;
}

input, select {
	width: 80%;
	height: 45px;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
	margin-top: 20px;
	padding-left: 10px;
}

header {
	margin: 0;
	height: 80px;
	background-color: #013243;
	color: white;
	display: inherit;
}

h1 {
	line-height: 70px;
}

a,
a:hover {
	text-decoration: none;
	color: white;
}

.hidden {
	background: none;
	border: none;
	outline: none;
	color: white;
}

.searchQuery>input {
	margin: 0;
	height: 40px;
}

.extended-a {
	color: blue;
}

.notRegister {
	margin-top: 20px;
}

.form {
	box-sizing: border-box;
	border: 1px solid #eaeaea;
	height: 400px;
	padding: 0;
	text-align: center;
	margin-top: 30px;
}
.leftSec .form {
	padding: 50px 0 0 0;
	border: none;
	border: 1px solid #eaeaea;
}
.rightSec .form {
	padding: 0;
	border: none;
	border: 1px solid #eaeaea;
}

.btn {
	vertical-align: bottom;
}

.loginBtn {
	width: 80%;
	height: 45px;
	margin-top: 20px;
}

.item {
	display: inline-block;
	height: auto;
	box-sizing: border-box;
	margin-bottom: 10px;
	text-align: center;
	padding: 0 5px 0 5px;
}
.innerItem {
	padding: 10px;
	border: 1px solid #eaeaea;
}
.item-qty, .item.price {
	margin-bottom: 15px;
}
.item-qty input {
	width: 25%;
	margin-top: 0;
}
.item-qty h5 {
	display: inline-block;
}

.bold {
	font-weight: bold;
}

.img {
	width: 150px;
	height: 150px;
}

img {
	max-width: 100%;
}

.price {
	margin-top: 5%;
}

.item-price>h5>span {
	font-size: 15px;
}
.item-name {
	background-color: #eaeaea;
}
.fa-times-circle {
	color: #007bff;
}
.ul ul li button {
	background: none;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	padding: 5px 10px 5px 10px;
	margin-right: 10px;
}

.addToCartBtn {
	margin-bottom: 10px;
	width: 100%;
}
.addToCartBtn button {
	width: 100%;
}

.welcomeTitle {
	background-color: #2980b9;
	padding: 1%;
}

.welcomeTitle:nth-child(n) {
	color: white;
}

.logout>button {
	position: absolute;
	top: 90%;
	right: 0;
	margin-top: -50px;
	margin-right: 5%;
}

.logout {
	position: relative;
}

.logout>h4 {
	display: inline-block;
}

.userBtn {
	display: inline-block;
	margin-left: 5%;
	line-height: 80px;
}

.userBtn>button {
	vertical-align: middle;
}

.rightSec,
.centerSec,
.leftSec {
	height: 500px;
}

.view {
	box-sizing: inherit;
	padding-right: 0;
	padding-left: 0;
}

ul {
	list-style-type: none;
	text-align: center;
	margin: 0 auto;
	display: table-cell;
}

li {
	list-style: none;
	cursor: pointer;
}

.productsSection,
.cartSection {
	margin-top: 3%;
}

.productsSection {
	height: 500px;
}

.cartSection {
	border: 1px solid #e1e1e1;
	padding-top: 10px;
	height: auto;
}

.item img {
	margin: 0 auto;
}

.ul {
	display: inline-block;
	line-height: 30px;
}

.panel-body {
	margin-top: 20px;
}

.trash {
	padding: 0;
	margin-top: 10px;
}

.item-img {
	text-align: center;
	margin: 10px;
}

.product-img {
	width: 80%;
	padding-right: 0;
}

.product-name {
	margin-top: 10px;
}

.quantity>input {
	margin-top: 10px;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #eaeaea;
}

.table th,
.table td {
	vertical-align: middle;
	border: none;
}

.addMoreCategory {
	border: none;
	text-decoration: none;
	font-size: 14px;
	color: blue;
	background-color: white;
}

.addCategory {
	text-align: left;
	width: 80%;
	margin: 0 auto;
}

.addCategory>input[type="text"] {
	width: 40%;
	height: 30px;
}

.addCategory>button {
	height: 30px;
	padding: 0 10px;
}

.form a {
	color: blue;
	cursor: pointer;
}

.collapseLink {
	width: 80%;
	height: 20px;
	margin: 0 auto;
	text-align: left;
}
.stepReg {
	text-align: center;
}
.stepReg .alert {
	margin: 0 auto;
	margin-top: 10px;
}
.adminImg {
	width:100px;
	height:100px;
}
.goToShopBTN {
	width: 80%;
	font-size: 30px;
	margin-top: 50%;
}
/*Slider*/

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
30% { left: 0%; }
40% { left: 0%; }
50% { left: -100%; }
60% { left: -100%; }
70% { left: -100%; }
80% { left: -200%; }
90% { left: -200%; }
100% { left: -200%; }
}
div#slider { overflow: hidden; }
div#slider figure img { width: 33.33333333%; float: left; }
div#slider figure { 
  position: relative;
  width: 300%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite; 
}
.notification {
	height: 50%;
	width: 100%;
	background-color: #eaeaeaea;
}
.notification > div {
	margin-top: 10px;
	display: inline-block;
}
.previewItem {
	height: 50%;
	width: 100%;
	margin: 0;
}
.someProductText {
	text-align: left;
	margin: 0;
	padding: 0;
}
.ribbon {
  height: 150px;
  position: relative;
  overflow: hidden;
}
.ribbon span {
  width: 170px;
  height: 40px;
  top: 25px;
  right: -40px;
  position: absolute;
  display: block;
  background: #e74c3c;
  color: #fff;
  padding: 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.cartTitle h3 {
	display: inline-block;
}
.cartTitle button {
	float: right;
	background: none;
	border: none;
	outline: none;
}

