
* {
	font-family: 'Abel', sans-serif;
	padding: 0;
	margin: 0;

}
input[type="text"], input[type="password"], input[type="number"], select {
	width: 80%;
	height: 45px;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
	margin-top: 20px;
	padding-left: 10px;
}
header {
	margin: 0; 
	height: 80px;
	background-color: #013243;
	color: white;
	display: inherit;
}
h1 {
	line-height: 70px;
}

a , a:hover {
	text-decoration: none;
	color: white;
}
.hidden {
	background: none;
	border: none;
	outline: none;
	color: white;
}
.searchQuery {
	margin: -9px; 
}
.searchQuery > input {
	margin: 0;
	height: 40px;
}
.extended-a {
	color: blue;
}
.notRegister {
	margin-top: 20px;
}
.form {
	box-sizing: border-box;
	border: 5px solid #2980b9;
	height: 100%;
	padding: 50px 0 50px 0;
	text-align: center;
	margin-top: 30px;
}

.btn {
	vertical-align: bottom;
}
.loginBtn {
	width: 80%;
	height: 45px;
	margin-top: 20px;
}
.item {
	border-radius: 10px;
	border: 1px solid #e1e1e1;
	display: inline-block;
	height: auto;
	box-sizing: border-box;
}

.bold {
	font-weight: bold;
}
.img {
	width: 150px;
	height: 150px;
}
img {
	max-width: 100%;
}
.price {
	margin-top: 5%;
}
.item-price > h5 > span {
	font-size: 15px;
}
.addToCartBtn {
	float: right;
	margin-bottom: 10px;
}
.welcomeTitle {
	background-color: #2980b9;
	padding: 1%;
	height: 55px;
}
.welcomeTitle:nth-child(n) {
	color: white;
}
.logout > button {
	position: absolute;
	top: 90%;
	right: 0;
	margin-top: -50px;
	margin-right: 5%;
}
.logout {
	position: relative;

}
.logout > h4 {
	display: inline-block;
}
.userBtn {
	display: inline-block;
	margin-left: 5%;
	line-height: 80px;
	 
}
.userBtn > button {
	vertical-align: middle;
}
.rightSec, .centerSec, .leftSec {
	height: 500px;
}
.view {
	box-sizing: inherit;
	padding-right: 0;
    padding-left: 0;
}
ul {
	list-style-type: none;
    text-align: center;
    margin: 0 auto;
    display: table-cell;
}
li {
	list-style: none;
	cursor: pointer;
}
.productsSection, .cartSection {
	margin-top: 3%;
}
.productsSection {
	height: 500px;
}
.cartSection {
	border: 1px solid #e1e1e1;
	padding-top: 10px;
	height: auto; 
}
.item img {
	margin: 0 auto;
}
.ul {
	display: inline-block;
}
.panel-body {
	margin-top: 20px;
}
.trash {
	padding: 0;
	margin-top: 10px;
}
.item-img {
	text-align: center; 
	margin: 10px; 
}
.product-img {
	width: 80%;
	padding-right:0;
}
.product-name {
	margin-top: 10px;
}
.quantity > input {
	margin-top: 10px;
}