<div class="container-fluid"> 
   <div id="cart-product-wrapper" class="row">
      <section class="col-md-12 welcomeTitle" >
         <div class="col-md-8 float-left ul">
            <ul ng-repeat="category in categories">
               <li><button ng-click="showItemsFromCategory(category)">{{category.name}}</button></li>
            </ul>
         </div>
         <div class="col-sm-3 searchQuery float-right text-right">
            <input type="text" class="search" placeholder="Search product..." ng-model="search"/>
         </div>
      </section>
      <section class="col-md-8 col-sm-12 productsSection">
         <div class="item col-md-3" ng-repeat="product in products | filter: search">
            <div class="innerItem">
               <div class="item-img">
                  <img src="{{product.image}}" height="150" width="auto">
               </div>
               <div class="item-name">
                  <h4>{{product.name}}</h4>
               </div>
               <div class="item-qty">
                  <h5>quantity:</h5> <input type="number" ng-init="product.qty=1" ng-model="product.qty" data-id="{{product._id}}"/>
                     </div>
                     <div class="item-price">
                  <h5 data-id="{{}}product._id">price: {{product.price}}<span>₪</span></h5>
               </div>
               <div class="addToCartBtn"><button class="btn btn-primary" id="a{{product._id}}" ng-click="addItemToCart(product)">Add to cart</button></div>
            </div>
         </div>
      </section>
      <section class="col-md-4 col-sm-12 cartSection">
         <button><i toggle-cart class="fa fa-times-circle" aria-hidden="true"></i></button>
         <div class="panel panel-info">
            <div class="panel-heading">
               <div class="panel-title">
                  <div class="row">
                     <div class="col-md-12 cartTitle">
                        <h3><span class="glyphiscon glyphicon-shopping-cart"></span>My shopping list</h3>
                     <button class="btn btn-danger removeAll" ng-if="removeAll" ng-click="removeAll(items)">Remove all</button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="cartCont">
            <div class="panel-body" ng-repeat="item in items track by $index">
               <div class="row">
                  <div class="col-md-2 product-img"><img class="img-responsive" ng-src="{{item.image}}" width="70" height="70">
                  </div>
                  <div class="col-md-3 product-details vcenter">
                     <h6><strong>{{item.name}}</strong></h6>
                  </div>
                  
                     <div class="col-md-3 vcenter">
                        <h6 class="vcenter-child"><strong>{{item.price | number:2 }}₪ <span class="text-muted">x</span></strong></h6>
                     </div>
                     <div class="col-md-2 quantity vcenter">
                        <input class="vcenter-child" type="number" min="0" ng-value="item.quantity"
                        ng-model="item.quantity" ng-change="multiply($index)">
                     </div>
                     <div class="col-md-1 vcenter">
                        <button ng-click="removeItemFromCart(item)"
                        class="btn btn-link trash vcenter-child">
                        <i class="fa fa-trash-o trash" aria-hidden="true"></i>
                        </button>
                     </div>
                  
               </div>
               <hr>
               <div class="row">
                  <div class="text-center">
                  </div>
               </div>
            </div>
         </div>
            <div class="panel-footer">
               <div class="row">
                  <div class="col-md-9">
                     <h4 class="text-left">Total <strong>{{total | number:2}}₪</strong></h4>
                  </div>
                  <div class="col-md-3 float-right">
                     <button type="button" class="btn btn-success btn-block" ng-click="goToOrder()">
                     Order
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</div>
			